<form novalidate (submit)="onSignIn(user)">
  <div class="card">
    <img class="card-img-top" src="assets/images/angular-logo.png" />
    <div class="card-body">
      <div class="form-group">
        <label>Usuário</label>
        <input
          type="text"
          name="username"
          autocomplete="off"
          [(ngModel)]="user.username"
          class="form-control mb-3"
          placeholder="example@email.com"
        />
      </div>
      <div class="form-group">
        <label>Senha</label>
        <input
          type="password"
          name="password"
          autocomplete="off"
          [(ngModel)]="user.password"
          class="form-control"
          placeholder="******"
        />
      </div>
    </div>
    <div class="card-footer">
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Entrar</button>
      </div>
    </div>
  </div>
</form>
